
/* Correction pour que la table s'affiche correctement */
.dataTables_wrapper .row:first-child {
    padding-top: 0.85em;
}
.dashboard-member-activity-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}
/* Style pour Tagify */
.tagify{
    --tag-bg: #007bff;
    --tag-text-color: #ffffff;
    border: 1px solid #ced4da;
}
.tagify__input{
    font-size: 1rem;
    line-height: 1.5;
}

/* Transition fluide pour les badges du menu */
.nav-sidebar .nav-item .badge {
    transition: margin 0.3s ease-in-out;
}
